<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="SecurityService.svc" service="SecurityService.SecurityService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="SecurityService.SecurityService" behaviorConfiguration="Test">
        <endpoint contract="SecurityService.ISecurityService" binding="webHttpBinding" address="" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Test">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="MyDbConn" connectionString="Server=192.168.20.11; Database=group4; User Id=grp4; password= 5tV1D804" providerName="System.Data.SqlClient" />
    <add name="Group4Entities" connectionString="metadata=res://*/SecurityDataModel.csdl|res://*/SecurityDataModel.ssdl|res://*/SecurityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.20.11;Initial Catalog=Group4;Persist Security Info=True;User ID=grp4;Password=5tV1D804;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>